/****************    MAIN     *****************/
* {
  font-family: 'Laila', sans-serif;}

html {
}

body {
  min-width: 100%;
  height: 100vh;
}


li,
* a:hover,
* a{
  list-style: none;
  text-decoration: none;
  opacity: 1;
  color: white;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

a:hover, a:visited, a:link, a:active
{
  list-style: none;  
  text-decoration: none;
}

/***************************************
                HEADER
***************************************/

/*  header background and styling */


header {
  height: 80px;
  transition: .3s ease;
}

.header {
  height: 70px;
  background-color: rgba(54,55,63, .85);
  color: #fff;
  transition: .3s ease;
}

/*  navigation elements */


#nav {
  width: 80%;
  margin: 16px auto;

}

.navbar {
  padding-left: 0px;
}

#siteMenu {
  max-width: 75%;
}

#hamburger {
  height: 26px;
  margin-bottom: 15px;
}

#logo {
  height: 50px;
  width: 200px;
  margin-top: -10px;
  margin-bottom: 6px;
}

#goose {
  margin-right: 10px;
}

#name {
  font-size: 1.1rem;
  text-align: center;
}

/*   upper content section   */


#container {
  padding-left: 10%;
  padding-right: 10%;
  background: 
      radial-gradient(
      rgba(65, 75, 85, 0.45),
      rgba(0, 0, 0, 0.45)
    ), url("img/tablefood.jpg") no-repeat center center;
  background-size: cover;
  background-color: #ccc;
  color: white;
  height: 100vh;
  box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1);
}
/*Photo by Ray Piedra from Pexels */

#phrase {
  position: absolute;
  margin-left: 10%;
  margin-top: 15%;
}

#arrowDiv {
  width: 80%;
  position: absolute;
  text-align: center;
  bottom: 0;
  margin-bottom: 20px;
}

#arrow {
  height: 26px;
}

/*    lower content section   */


#section1 {
  background-image: url("img/concrete.png");
  background-repeat: repeat;
  background-color: #ccc;
  box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1);
}

#content {
  max-width: 80%;
  margin-left: 10%;
}

.menu {
  margin-top: 20px;
  margin-bottom: 20px;
}


/*    footer    */

footer {
  background-image: linear-gradient(#414345, #232526);
  font-size: 0.75em;
  text-align: center;
  color: #fff;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin: 0 15px;
}

.contain {
  max-width: 80%;
  margin: 0 auto;
  padding: 15px;
}


@media (min-width: 1200px) {
  .menu {
    max-width: 45%;
  }
}
