li,
li a {
  list-style: none;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #6ed3cf;
  position: fixed;
  bottom: 0;
  color: #fff;
}

#menuItems {
  margin: 0 -10px;
  padding: 10px 20px;
}

#ham {
  display: inline-block;
  opacity: 0.6;
  margin: 0 -10px;
  padding: 7px 0;
  height: 20px;
}

#ham, 
#menuItems {
  display: inline-block;
}

.siteBody {
  display: flex;
  flex-direction: column;
}

#menuItems li {
  display: none;
}
